<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Create Student</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/">Students Management</a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="/"
                    >Home <span class="sr-only">(current)</span></a
                  >
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/create">Tạo học viên mới</a>
                </li>
              </ul>
              <form class="form-inline my-2 my-lg-0">
                <input
                  class="form-control mr-sm-2"
                  type="search"
                  placeholder="Search"
                  aria-label="Search"
                  name="search"
                />
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
                  Search
                </button>
              </form>
            </div>
          </nav>
      <h1>Thêm học viên</h1>
      <form method="post" action="/create">
        <div class="form-group">
          <label for="exampleFormControlInput1">Tên học viên</label>
          <input
            type="text"
            class="form-control"
            placeholder="Nhập tên học viên"
            name="name"
            required
          />
        </div>
        <div class="form-group">
          <label for="exampleFormControlSelect1">Lớp</label>
          <select
            class="form-control"
            name="class"
            id="exampleFormControlSelect1"
            required
          >
            <option>C0223G1</option>
            <option>C1022G2</option>
            <option>C1222I1</option>
            <option>C0323H1</option>
            <option>C0623G1</option>
          </select>
        </div>
        <div class="form-group">
          <label for="exampleFormControlInput1">Điểm thực hành</label>
          <input
            type="number"
            min="0"
            max="10"
            step="1"
            class="form-control"
            placeholder="Nhập điểm thực hành"
            name="practice"
            required
          />
        </div>
        <div class="form-group">
          <label for="exampleFormControlInput1">Điểm lý thuyết</label>
          <input
            type="number"
            min="0"
            max="10"
            step="1"
            class="form-control"
            placeholder="Nhập điểm lý thuyết"
            name="theory"
            required
          />
        </div>
        <div class="form-group">
          <label for="exampleFormControlInput1">Đánh giá</label>
          <input
            type="text"
            class="form-control"
            placeholder="Nhập đánh giá học viên"
            name="rate"
            required
          />
        </div>
        <!-- <div class="form-group">
            <label for="exampleFormControlSelect1">Đánh giá</label>
            <select
              class="form-control"
              name="rate"
              id="exampleFormControlSelect1"
            >
              <option>C0223G1</option>
              <option>C1022G2</option>
              <option>C1222I1</option>
              <option>C0323H1</option>
              <option>C0623G1</option>
            </select>
          </div> -->
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Mô tả</label>
          <textarea class="form-control" rows="5" name="des"></textarea>
        </div>
        <button type="submit" class="btn btn-success">Tạo mới học viên</button>
        <a href="/" class="btn btn-primary">Thoát</a>
      </form>
    </div>
  </body>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script
    src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"
  ></script>
</html>
